body {
    color: #1f1d2e;
    background-color: #dee8e8;
}

p, h3, input[type="number"] {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    width: 300px;
    margin-bottom: 10px;
}
input[type="submit"] {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    margin-bottom: 10px;
    cursor: pointer;
}
input {
    background-color: #ebf5f5;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: #1f1d2e;
}
input[type="number"]:focus {
    background-color: #d7e1e1;
    outline: none;
}
input[type="submit"]:active {
    background-color: #d7e1e1;
}